<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpellBook</title>
    <!-- GOOGLE FONT Roboto-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Berkshire Swash -->
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    
    <!-- NORMALIZE Y ESTILOS -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    
</head>
<body class="error-bg">
        <a href="/">
        <section class="error-flex">
            <div class="star star1"></div>
            <div class="star star2"></div>
            <div class="star star3"></div>
            <div class="star star4"></div>
            <div class="star star5"></div>
            <div class="star star6"></div>
            <div class="star star7"></div>
             <div class="star star8"></div>
            <h4>404</h4>    
            <h2 class="quote">Ups! La p치gina que buscas desapareci칩</h2>
            <div class="magic">
            <img class="varita"src="/images/Recursos/varita.png" alt=" im치gen de varita m치gica">
            <h3>Inicio</h3></div>
            </section>
        </a>

</body>
</html>