<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>SpellBook</title>
</head>
<body class="error-bg">
        <a href="/">
        <div class="error-flex">    
            <h2 id="quote">La p치gina que buscas desapareci칩</h2>
            <h3 id="quote1">Pero puedes ir al</h3>
            <a id="quote" class="magic" href="/">
            <img class="varita"src="/images/Recursos/varita.png" alt=" im치gen de varita m치gica">
            INICIO</a>
            <h4>404 error</h4>
        </div>
        </a>

<script src="js/404.js"></script>
</body>
</html>