<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/productDetail.css" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Berkshire Swash -->
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fc00004fb4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <h1 class="logo__title"><a href="" class="logo__link">SpellBook</a></h1>
      </div>
      <div class="btn">
        <i class="fas fa-bars" id="icon"></i>
      </div>
      <nav class="nav">
        <ul class="menu">
          <li class="menu__items"><a href="#" class="menu__link">Inicio</a></li>
          <li class="menu__items"><a href="#" class="menu__link">Libros</a></li>
          <li class="menu__items">
            <a href="#" class="menu__link">Recomendados</a>
          </li>
          <li class="menu__items">
            <a href="#" class="menu__link">Novedades</a>
          </li>
          <li class="menu__items">
            <a href="#" class="menu__link">Nosotros</a>
          </li>
        </ul>
        <div class="login">
          <a class="login__btn" id="sign_up">Registrate</a>
          <a class="login__btn" id="log_in">Iniciar sesion</a>
        </div>
      </nav>
    </header>
    <main class="main">
      <section class="product">
        <article class="item">
          <h2 class="item__title">Animales Fantasticos</h2>
          <figure class="item__img">
            <img
              src="images/books/AnimalesFantasticosYDondeEncontrarlos.jpg"
              alt=""
            />
          </figure>
          <div class="descriptions">
            <p class="descriptions__text">
              Precio: <span class="description--gray">$1200</span>
            </p>
            <p class="descriptions__text">
              Autor: <span class="description--gray">J.K Rowling</span>
            </p>
            <p class="descriptions__text">
              Editorial:<span class="description--gray">Salamandra</span>
            </p>
            <p class="descriptions__text">
              Año de edicion:<span class="description--gray">2017</span>
            </p>
            <p class="descriptions__text">
              Idioma:<span class="description--gray">Castellaño</span>
            </p>
            <p class="descriptions__text">
              Cantidad de páginas:<span class="description--gray">256</span>
            </p>
          </div>
          <dir class="card__box">
          <button class="cart">
            <i class="fas fa-cart-plus icon-cart"></i> Agregar al Carrito
          </button>
          </div>
          <div class="descriptions descriptions--top">
            <h3 class="descriptions__title">Sinopsis</h3>
            <p class="descriptions__paragraph">
              El explorador y magizoólogo Newt Scamander llega a Nueva York con
              la intención de permanecer unos pocos días. Pero cuando pierde su
              maleta y algunos de sus animales fantásticos se escapan de ella,
              una serie de acontecimientos extraordinarios se desatan, poniendo
              en vilo a la gran ciudad..
            </p>
          </div>
        </article>
        <article class="item item--secondary">
          <dir class="box__books"></dir>
          <h2 class="item__title item--secondary__title">Productos Relacionados</h2>
          <figure class="books">
            <img class="books__img" src="images/books/ElSeñorDeLosAnillos_LaComunidadDelAnillo.jpg" alt="">
              <a href="" class="books__title">El señor de los anillos - La comunidad del anillo</a>
          </figure>
          <figure class="books">
            <img class="books__img" src="images/books/AnimalesFantasticosYDondeEncontrarlos.jpg" alt="">
              <a class="books__title" href="">Animales fantasticos - y donde encontrarlos</a>
          </figure>
          <figure class="books">
            <img class="books__img" src="images/books/harry-potter-y la camara secreta (1).png" alt="">
              <a class="books__title" href="">Harry Potter - y la camara secreta</a>
          </figure>
          <figure class="books">
            <img class="books__img" src="images/books/1567730915_20.jpg" alt="">
              <a class="books__title" href="">Harry Potter - y el caliz de fuego</a>
          </figure>
        </article>
      </section>
    </main>
    <script src="js/header.js"></script>
  </body>
</html>
