<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpellBook</title>
    <!-- GOOGLE FONT Roboto-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <!-- Berkshire Swash -->
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <!-- LINK DE FONT AWESONE  -->
    <script src="https://kit.fontawesome.com/fc00004fb4.js"crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/29f0a39c3c.js" crossorigin="anonymous"></script>
      
    <!-- NORMALIZE Y ESTILOS -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!-- LINK CSS DEL HEADER -->
    <link rel="stylesheet" href="stylesheets/header.css">
    <!-- LINK DEL REGISTRO -->
    <link rel="stylesheet" href="stylesheets/register.css">
</head>
  
<!-- BODY CON IMAGEN DE FONDO -->
<body class="background-image">

<!-- HEADER -->
<%- include('./partials/header') %> 

   <!-- COMIENZA EL REGITRO DE USUARIO -->

  <main class="conteiner-main">
     
    <!-- FORMULARIO DE REGISTRO -->
    <form action="/signup" method="POST">

      <!-- IMAGEN DE USUARIO, BARITA -->
      <section class="register-user">    
        <div class="user-image">
          <img  class= "user-image-item"src="images/user-img.png"  alt="">
        </div>  
        <div class="user-magic-wand">
          <img src="/images/varita.png" width="15%" alt="">
        </div>    
      </section>

     <!-- NOMBRE DEL USUARIO -->
     <!--  <h5 class="user-name">Nombre del Usuario</h5> -->
        
      <!-- CAMPOS A LLENAR -->
      <div class="conteiner-info-user">
        <!-- NOMBRE -->
        <div class="info-user">
          <img class="user-data-icon user-pocision" height="40px" src="images/wizard-icon.png" alt="img de mago">
          <p>Nombre del Usuario</p>
        </div>

        <!-- EMAIL -->
        <div class="info-user">
          <i class="fas fa-envelope user-data-icon"></i>
          <p>example@exam.com</p>
        </div>
      </div>

 
      <!-- TÍTULO DE SECCIÓN -->
      <h2 class="title-seccion">Datos Personales</h2>
      
      
      <!-- CAMPOS A LLENAR -->
      <section class="conteiner-user-data">
        <!-- NOMBRE -->
        <p class="user-data">
          <label for="name">
              <img class="user-data-icon user-pocision" height="40px" src="images/wizard-icon.png" alt="img de mago">
          </label>
          <input class = "user-date-inputs" placeholder="Nombre" type="text" name="name" id="name">
          </p>
          <!-- APELLIDO -->
          <p class="confirmation">
            <input class = "user-date-inputs " placeholder="Apellido" type="text" name="firstName" id="firstName">
          </p>


         <!-- LUGAR -->
        <p class="user-data">    
        <label for="location">
            <i class="fas fa-globe-americas user-data-icon world-pocision"></i>
        </label>
        <input class = "user-date-inputs" placeholder="País de Residencia" type="text" name="location" id="location">
        </p>
        <!-- PROVINCIA -->
        <p class="confirmation">
          <input class = "user-date-inputs " placeholder="Provincia o Estado" type="text" name="firstName" id="firstName">
        </p>


        
        <!-- TELEFONO -->
        <p class="user-data">
        <label for="phone">
            <i class="fas fa-mobile-alt user-data-icon tel-pocision"></i>
        </label>
        <input class = "user-date-inputs" placeholder="Numero de Contacto" type="tel" name="phone" id="phone">
        </p>


         <!-- NACIMIENTO -->
         <p class="user-data ">
          <label for="date">
              <i class="far fa-calendar user-data-icon "><img class="image-icon" height="18px" src="images/wizard-icon.png" alt="img de mago"></i>
          </label>
          <input class ="user-date-inputs-date date-pocision" type="date" name="date" id="date">
          </p>
      
        <!-- BOTON PARA DE GUARDAR -->
        <button type="submit" class="btn-save">GUARDAR</button>
      </section>
      <h2 class="title-seccion">Tus ultimas Compras</h2>

      <!-- LINEA HR -->
      <hr class="one-line">

      <section>
        <p class="now-buy">No haz realizado ninguna compra aún</p>
        <a href="#"><p class="now-buy">Empieza ahora</p></a>
      </section>
    </form>
  </main>

  <!-- FOOTER -->
  <%- include('./partials/footer') %>
  
  <!-- LINK DEL JS DEL HEADER -->
  <script src="js/header.js"></script>
</body>
</html>