<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpellBook</title>
    <!-- GOOGLE FONT Roboto-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <!-- Berkshire Swash -->
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <!-- LINK DE FONT AWESONE  -->
    <script src="https://kit.fontawesome.com/fc00004fb4.js"crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/29f0a39c3c.js" crossorigin="anonymous"></script>

    <!-- NORMALIZE Y ESTILOS -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!-- LINK CSS DEL HEADER -->
    <link rel="stylesheet" href="stylesheets/header.css">
</head>

<!-- BODY CON IMAGEN DE FONDO -->
<body class="background-image">

<!-- HEADER -->
<%- include('./partials/header') %> 

    <!-- COMIENZA EL CARRITO -->

    <div class="global">

        <!-- TITULO DE PAGINA -->
    <h1 class="title">Mi Carrito</h1>

<!-- SECCIÓN DE PRODUCTO Y CANTIDAD -->    
    <section>
        <!-- TODOS LOS PRODUCTOS A COMPRAR -->
        <article class="conteiner-item">   
            <div class="item-left">
                <img class="buy-image" src="images/harry-potter-y-el-caliz-de-fuego.jpg" alt="">
                <p>Harry Potter y el caliz de fuego</p>
            </div>
            <div class="item-right">   
                <i class="far fa-trash-alt right"></i>
                <p>$ 1200</p>

                <!-- BOTON DE CANTIDAD DE UNIDADES -->
                <form action="/carrito" method="GET">
                    <label>Cantidad: </label>
                    <select  class="quantity-button" name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </form>
            </div>
        </article>
    </section>

    <!-- DETALLE DE COMPRA -->
    <section class="detail-buy">
        <!-- TÍTULO DE SECCIÓN -->
        <h3 class="detail-title">Detalle de la Compra</h3>
        <hr class="one-line">
        <!-- SECCIÓN DETALLE DE COMPRA -->
        <div class="conteiner-price">
            <p>Harry Potter y el caliz de fuego</p>
            <p>$ 1200</p>
        </div>
        <div class="conteiner-price">
            <p>SubTotal </p>
            <p>$ 1200</p>
        </div>
        <div class="conteiner-price total">
            <p>Total</p>
            <p>$ 1200</p>
        </div>
        <a href="#" >
            <button class="to-pay" type="submit">Ir al Pago</button>
        </a>
    </section>

    <!-- TÍTULO RECOMENDADOS -->
    <h3 class="recommended-title">Recomendados para Vos</h3>


    <!-- SECCIÓN RECOMENDADOS -->
    <section class="recommended-conteiner">
       
        <article class="recommended-item">
            <a href="">
                <img class="recommended-img"src="images/AnimalesFantasticosYDondeEncontrarlos.jpg" alt="">
                <p>Animales Fantasticos y donde encontrarlos</p>
            </a>    
        </article>
        <article class="recommended-item">
            <a href="">
                <img class="recommended-img" src="images/ElSeñorDeLosAnillos_LaComunidadDelAnillo.jpg" alt="">
                <p>El Señor de los anillos La comunidad del Anillo</p>
            </a>
        </article>
        <article class="recommended-item">
            <a href="">
                <img class="recommended-img" src="images/harry-potter-y-la-camara-secreta.png" alt="">
                <p>Harry Potter y la Camara Secreta</p>
            </a>
        </article>
        <article class="recommended-item">
            <a href="">
                <img class="recommended-img" src="images/los-crimenes-de-grindelwald.jpg" alt="">
                <p>Los Crimenes de Grindelwald</p>
            </a>
        </article>
    </section>
</div>

  <!-- FOOTER -->
  <%- include('./partials/footer') %>

<!-- LINK DEL JS DEL HEADER -->
<script src="js/header.js"></script>

</body>
</html>