<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('./partials/head') %>
<body>
<!-- HEADER -->
<%- include('./partials/header') %> 

    <aside class="aside">
        <figure class="logo-sticker">
          <img src="images/Diseño y Logo/Logo para fondos oscuros.png" alt="" class="logo-sticker__img">
        </figure>
        <form action="" method="POST" class="form">
          <div class="box">
            <h2 class="box__title">Registrate</h2>
          </div>
  
          <div class="user">
            <input type="text" name="name" placeholder="Nombre de Usuario" class="user__info" />
            <span class="warning">Nombre de usuario incorrecto</span>
          </div>
  
          <div class="user">
            <input type="email" name="email" placeholder="Correo Electronico" class="user__info" />
            <span></span>
          </div>
  
          <div class="user">
            <input type="password" name="password" placeholder="Contraseña" class="user__info" />
            <span class="warning">Contraseña incorrecta</span>
          </div>
  
          <div class="user">
            <input
              type="password"
              name="c_pass"
              placeholder="Comfimar contraseña" class="user__info"
            />
            <span class="warning">Las contraseñas no coinciden</span>
          </div>
  
          <button type="submit" value="Enviar" class="btn__send">Registrate</button>
          <div class="terminos">
            <input type="checkbox"/> 
  
            <label for="" >Acepto los terminos  <a href="">Terminos y condiciones </a></label>
          </div>
          <div class="user social">
            <a href="" class="social__btn"><i class="fab fa-google social__icon"></i>GOOGLE</a>
            <a href="" class="social__btn"><i class="fab fa-facebook-f social__icon"></i>FACEBOOK</a>
          </div>
        
          <div class="user">
            <a href="/login" class="enlace_link">¿Ya tengo una cuenta?</a>
          </div>
        </form>
      </aside>

  <!-- FOOTER -->
  <%- include('./partials/footer') %>

      <script src="js/header.js"></script>
</body>
</html>
