@import url(variables.css);


.header {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-azulOscuro);
  }
  .logo__link {
    font-size: var(--title);
    color: var(--color-beige);
    font-family: var(--font-berkshire);
    letter-spacing: 0.2rem;
  }
  .btn {
    text-align: end;
    font-size: var(--icon);
    color: var(--color-beige);
    cursor: pointer;
  }
  .nav {
    position: absolute;
    top: 10vh;
    right: 0;
    background:var(--color-beige);
    height: 90vh;
    width: 100%;
    flex-direction: column;
    clip-path: inset(50% 0 50% 0);
    -webkit-clip-path: inset(50%  0 50% 0);
    transition: all 2s ease-out;
    z-index: 9000;
  }
  .nav.open {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0  0 0);
    pointer-events: all;
  
  }
  .menu {
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .menu__items{
    height: 40px;
  }
  .menu__link{
      font-size: var(--paragraph);
      color: var(--color-azulOscuro);
      letter-spacing: 0.5px;
      cursor: pointer;
  }
  .menu__link:hover{
    text-decoration: underline;
  }
  .login{
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .login__btn{
      border: none;
      font-size: var(--btn);
      letter-spacing: 0.1rem;
      color: var(--color-azulOscuro);
      cursor: pointer;
  }
  .login__btn:hover{
    text-decoration: underline;
  }

  /* MENU DESKTOP */
  .user__desk {
    display: none;
  }

   .nav__desk {
     display: none;
   }


  /*  Media Queries */

  /* Descktop */

  @media (min-width:768px ) {
    
    /* SE SACA EL MENU VERSION MOBILE Y TABLET */
    .btn {
      display: none;
    }
    .nav {
      display: none;
    }

    /* SE ORIENTA EL LOGO AL CENTRO */

  .header {
    padding: 10px 20px 8px;
    flex-direction: column;
    padding-bottom: 0;
    height: 10rem;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo__link {
    font-size: 3rem;
    
  }

   /* LUPA, CARRITO Y MAGO DE USUARIO */
  .user__desk{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 5px;
    color: var(--color-beige);

  }

  .user__icon__desk {
    font-size: 1.2rem;
    color: var(--color-beige);
    padding-right: 1rem;

  }

  /* LUPA DE BUSQUEDA */
  .user__search__desk {
    background-color: var(--color-azulOscuro);
    border: none;
   /*  border-radius: 15px; */
    color: var(--color-beige);
    width: 0;
    transition-property: width;
    transition-duration: 1s;

  }

  .user__search__desk:focus {
    border: none;
    background-color: var(--color-azulOscuro);
    font-size: 1rem;
    height: fit-content;
    outline: none;
    border-bottom: 1px solid var(--color-beige);
    width: 9.2rem;

  }

  /* MAGO PARA REGISTRARSE */
  .wizard {
    display: flex;
    position: relative;
    align-items: flex-end;
  }

  .wizard__image {
    position: absolute;
    bottom: 18px;
    left: 30px;
  }

  .wizard__login {
    color: var(--color-beige);
  }

  /* MENU POR DEBAJO DEL HEADER */
    .nav__desk {
      color: var(--color-azulOscuro);
      display: flex;
      flex-direction: row;
      height: fit-content ;
      width: 100vw;
      background-color: var(--color-beige);
      box-shadow: var(--box-shadow-button);
    }

    .menu__desk {
      font-size: 1rem;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }

   
  }
