body {
   background-color: var(--color-beige);
}

/* AUTORES */
main{
    margin: 0 auto;

}

/* TITULO */
.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 75px;
    margin: 2rem 0;
    text-shadow: 1px 1px 2px grey;
    
}
.headline .varita {
    width: 25px;
    height: 25px;
}

h1 {
    color: var(--color-azulOscuro);
    display: flex;
    font-size: 1.9rem;
    font-family: var(--font-berkshire);
}

/* CARDS */

.authors {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card {
    width: 100%;
    background-color: var(--color-beige);
    margin-bottom: 10px;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); */
    border-radius: 1rem;
    max-width: 288px;
  }
 
.card .card-content {
    padding: 15px;
  
}  

.card .card-content .writer-tolkien {
    border: 5px solid rgba(193,161,211, 0.8);
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    display: block;
    height: 100px;
    margin: auto;
    width: 100px;
   
}

.card .card-content .writer-sapkowski {
    border: 5px solid rgba(193,161,211, 0.8);
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    display: block;
    height: 100px;
    margin: auto;
    width: 100px;
   
}

.card .card-content .writer-martin {
    border: 5px solid rgba(193,161,211, 0.8);
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    display: block;
    height: 100px;
    margin: auto;
    width: 100px;
   
}

.card .card-content .card-text{
    margin-bottom: 50px;
}

.card .card-content .card-text .bio {
    width: 5rem;
    height: 9rem;
    opacity: 0.1;
}

.card .card-content .card-text {
    font-family: var(--font-roboto);
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.card .card-content .card-text .bio-text {
    color: var(--color-azulOscuro);
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    margin: auto 0.5rem;
    height: 25%;
    width: 75%;
    display: flex;
    align-items: center;
}

h4 {
    font-family: var(--font-berkshire);
    color: var(--color-azulOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    margin: 20px auto 20px auto;
}

/* SELECCION DEL MES */
.month-selection .book .book-content .book-cover {
  width: 200px;
  height: 300px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.month-selection {
  display: flex;
  flex-direction: column;
}

.month-selection .book {
  margin-top: 0;
}

h3, h5 {
  color: var(--color-azulOscuro);
  font-family: var(--font-roboto);
}

h5 {
  margin: 0 auto 2rem auto;
}
.month-selection .book .book-content {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  
}

.book .book-content input {
  font-family: var(--font-roboto);
  border: 1px solid var(--color-azulOscuro);
  background-color: var(--color-azulOscuro);
  color: var(--color-beige);
  padding: 10px 25px;
  border-radius: 3rem;
  font-size: 1rem;
}

/* MÁS TITULOS */
.titles .more-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1rem;
    height: 75px;
}

.titles .varita {
    width: 25px;
    height: 25px;
}

/* CARRUSEL */
  .carrousel {
    width: 200px;
    height: 300px;
    margin: 0 auto 0 auto;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .carrousel {
    position: relative;
    width: 200px;
    height: 300px;
    margin-top: 15px;
  }
  
  .carrousel img {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }




/* Media queries */

/* Tablet */

@media (min-width: 361px) {

  .card {
    box-shadow: 0px 0px 10px rgb(100, 100,100);
  }

  .card .card-content h6 {
    display: block;
  }
  
}

/* Desktop */

@media (min-width: 769px) {
}