body {
    background-color: var(--color-beige);
}

/* AUTORES */
main{
    margin: 0 auto;
    width: 90%;
}

/* TITULO */
.headline {
    display: inline-block;
    margin-right: 0px 10px
    
}
.headline .varita {
    margin-top: 20px;
    width: 30px;
    height: 30px;
}

h1 {
    margin: auto auto 15px auto;
    display: inline-block;
    font-size: 35px;
    font-family: var(--font-berkshire);
    text-align: center;
}

/* CARDS */
.card {
    background-color: var(--color-beige);
    margin-bottom: 10px;
  }

.card .card-content .writer {
    border: 5px solid rgba(193,161,211, 0.8);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(193,161,211, 0.6);
    display: block;
    height: 100px;
    margin: auto;
    width: 100px;
   
}

.card .card-content .card-text{
    margin-bottom: 50px;
}

.card .card-content .card-text .bio {
    width: 55%;
    height: 15%;
    opacity: 0.1;
}

.card .card-content .card-text {
    font-family: var(--font-roboto);
    display: block;
    position: relative;
    text-align: center;
}

.card .card-content .card-text .bio-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* SELECCION DEL MES */
.month-selection .book .book-content .book-cover {
    width: 100px;
    height: 200px;
}