:root {
    --color-beige : #FFF3E6;
    --color-azulOscuro : #0D335D;
    --color-azulClaro : #1A508B;
    --color-Violeta : #C1A1D3;

    /* FUENTES */
    --font-berkshire : 'Berkshire Swash', cursive;
    --font-roboto : 'Roboto', sans-serif;
    /* Tamaños */
    --paragraph : 12px;
    --title : 24px;
    --prices : 18px;
    --discounts-descriptions : 16px;

    /* Sombreado */
    --box-shadow-images: 4px 4px 4px rgba(0, 0, 0, 0.5);
    --box-shadow-button: 2px 2px 2px rgba(0, 0, 0, 0.5);
}