:root {
    --color-beige : #FFF3E6;
    --color-azulOscuro : #0D335D;
    --color-azulClaro : #1A508B;
    --color-Violeta : #C1A1D3;

    /* FUENTES */
    --font-berkshire : 'Berkshire Swash';
    --font-roboto : 'Roboto', sans-serif;
    /* Tamaños */
    --paragraph : 1rem;
    --icon : 2rem;
    --title: 1.8rem;
    --btn : 1.2rem;
    --discounts-descriptions : 1.4rem;
}