<!-- COMIENZA EL HEADER -->
<header class="header error-bg">
    <div class="star star1"></div>
    <div class="star star2"></div>
    <div class="star star3"></div>
    <div class="star star4"></div>
    <div class="star star5"></div>
    <div class="star star6"></div>
    <div class="star star7"></div>
     <div class="star star8"></div>
    <!-- LOGO CON LINK AL HOME -->
    <div class="logo">
      <h1 class="logo__title"><a href="/" class="logo__link">SpellBook</a></h1>
    </div>
  
    <!-- BURGER MENU -->
    <div class="btn">
      <i class="fas fa-bars" id="icon"></i>
    </div>
  
    <!-- MENU DESPLEGABLE -->
    <nav class="nav">
      <ul class="menu">
        <li class="menu__items">
            <a href="/" class="menu__link">Inicio</a>
        </li>
        <li class="menu__items">
            <a href="/product" class="menu__link">Libros</a>
        </li>
        <li class="menu__items">
          <a href="/novelties" class="menu__link">Recomendados</a>
        </li>
        <li class="menu__items">
          <a href="/novelties" class="menu__link">Novedades</a>
        </li>
        <li class="menu__items">
          <a href="/aboutUs" class="menu__link">Nosotros</a>
        </li>
        <li class="menu__items">
          <a href="/cart" class="menu__link">Mi carrito</a>
        </li>
      </ul>
  
      <!-- REGISTRO E INICIO DE SESIÓN -->
      <% if (locals.inLogged) { %>
        <div class="login">
          <a href="/user/profile" class="login__btn">Mi perfil</a>
          <a href="/user/logout" class="login__btn login--up">Cerrar sesion</a>
        </div>
        <% } else { %>
          <div class="login">
            <a href="/user/signUp" class="login__btn">Registrate</a>
            <a href="/user/login" class="login__btn login--up">Iniciar sesion</a>
          </div>
      <% } %>
      
    </nav>
  
    <!-- HEADER VERSIÓN DESKTOP -->
    
    <!-- SE UTILIZA EL MISMO LOGO ORIENTADO EN EL CENTRO -->
    
        <!-- LUPA, CARRITO Y MAGO DE USUARIO -->
    <div class="user__desk">
  
        <!-- LUPA DE BUSQUEDA -->
        <form action="/search" method="get">
          <label name="search" id="search" >
            <input class="user__search__desk" type="search" name="search" id="search" placeholder="">
            <i class="fas fa-search user__icon__desk"></i> 
            <button type="submit"  class="btn"></button> 
        </label>
        </form>
        
        <!-- HACIA EL CARRITO DE COMPRAS -->
        <a class="header-cart" href="/cart">
            <i class="fas fa-shopping-cart user__icon__desk"></i>
        </a>
        <!-- MAGO PARA REGISTRARSE -->
        <div class="wizard">
          <% if (locals.inLogged) { %>
            <a href="/user/profile" class="wizard__image">
                <img src="/images/recursos/wizard-icon.png" width="20px" alt="">
            </a>            
            <a href="/user/profile" class="wizard__login">
              <p><%= locals.userLog.nombre %>/</p>
           </a>
           <a href="/user/logout" class="wizard__login">
               <p> Cerrar sesión</p>
           </a>
           
          <% } else { %>
            <a href="/user/login" class="wizard__image">
              <img src="/images/recursos/wizard-icon.png" width="20px" alt="">
            </a>                        
            <a href="/user/login" class="wizard__login">
              <p>Ingresar/</p>
           </a>
           <a href="/user/signUp" class="wizard__login">
               <p> Registrarse</p>
           </a>
          <% } %>
            
        </div>
    </div>
  
    <!-- MENU POR DEBAJO DEL HEADER -->
    <nav class="nav__desk">
        <ul class="menu__desk">
          <li class="menu__items__desk">
              <a href="/" class="menu__link__desk"><i class="fas fa-circle"></i> Inicio <i class="fas fa-circle"></i></a>
          </li>
          <li class="menu__items__desk">
              <a href="/product" class="menu__link__desk"><i class="fas fa-circle"></i> Libros <i class="fas fa-circle"></i></a>
          </li>
          <li class="menu__items__desk">
            <a href="/novelties" class="menu__link__desk"><i class="fas fa-circle"></i> Recomendados <i class="fas fa-circle"></i></a>
          </li>
          <li class="menu__items__desk">
            <a href="/novelties" class="menu__link__desk__desk"><i class="fas fa-circle"></i> Novedades <i class="fas fa-circle"></i></a>
          </li>
          <li class="menu__items__desk">
            <a href="/aboutUs" class="menu__link__desk"><i class="fas fa-circle"></i> Nosotros <i class="fas fa-circle"></i></a>
          </li>
        </ul>
    </nav>
  </header>