.containerUser{
    height: 100%;
    margin: 10% auto;
}

.editUser-img{
    width: 80%;
    margin-bottom: 10%;
    border-radius: 50%;
    max-width: 30%;
}

.editUser-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileEdit-rol{
    font-size: 1rem;
    margin: 20px 0;
}

.rol-name{
    margin: 0 20px;
}

.editProfile-avatar{
    display: flex;
    align-items: center;
}

/* media query */
    @media (min-width: 768px){
        .containerUser{
            width: 50%;
            height: 70%;
            margin: 10% auto;
        }
    }

    .editUser-img{
        width: 10%;
        margin-bottom: 10%;
        border-radius: 50%;
        max-width: 30%;
    }

    