.wrap {
  min-width:420px;
  width:100%;
  height: 10vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background-color: var(--color-azulOscuro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  
}
.relative {
  position: relative;
}
.logo__link {
  color: var(--color-beige);
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 4px grey;
  
}
.burger {
  order: -1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: var(--color-beige);
 transition: all 0.3s ease-in-out; 
}
.l-top {
  transform: rotate(45deg) translate(4px, 6px);
}
.l-center {
  opacity: 0;
}
.l-botton {
  transform: rotate(-45deg) translate(6px, -7px);
}
.menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 320px;
  height: 60vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  clip-path: inset(0 0 100% 0 );
  background-color: var(--color-azulOscuro);
  border-radius: 0 0 25px 0;
  z-index: 1000;
}
.menu--open {
  clip-path: inset(0 0 0 0);
} 
.menu__link {
  color: var(--color-beige);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 2s ease-in-out; 
}
.menu__link:hover {
  padding-left: 16px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.search-icon,
.cart-icon {
  font-size: 1.5rem;
  color: var(--color-beige);
  cursor: pointer;
}
.wizard {
  width: 1.3rem;
  cursor: pointer;
}
.search {
  position: absolute;
  top: 65px;
  right: 70px;
  display: flex;
  align-items: center;
  width: 250px;
  height: 30px;
  font-size: var(--icon);
  transition: all .2s ease-in-out;
  clip-path: inset(0 0 100% 0);

}
/* input[type="search"] */
.search-header {
  width: 100%;
  height: 100%;
  border: 3px solid var(--color-azulOscuro);
  border-radius: 8px;
  padding-left: 5px;
  font-size: 1rem;
  color: var(--color-azulOscuro);
  
  background-color: var(--color-beige);
  position: absolute;
}
.search-open {
  clip-path: inset(0 0 0 0);
}
::placeholder {
  font-size: var(--paragraph);
  color: var(--color-azulOscuro);
  font-weight: 300;

}

.card-user {
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-azulOscuro);
  border-radius: 0 0 0 18px;
  z-index: 1000px;
  clip-path: inset(0 0 100% 0);
 transition: all .3s linear;
}
.card-open {
  clip-path: inset(0 0 0 0);
}
.card-user a p {
  color: var(--color-beige);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.card-user a p:hover {
  text-decoration: none;
}

.menu__link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-beige);
  will-change: width;
  transition: all 0.4s ease-in-out;
}
.menu__link:hover {
  padding-left: 0;
}
.menu__link:hover:after {
  width: 100%;
}

.card-user a p:after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-beige);
  will-change: width;
  transition: all 0.4s ease-in-out;
}

.card-user a p:hover:after{
  width: 100%;
}

@media (min-width: 800px) {

  .wrap {
    min-width:420px;
    width:100%;
    height: 150px;
  }
  .header {
    height: 120px;
    gap: 20px;
    padding: 30px;
    
  }
  .logo__link {
      font-size: 3.5rem;
      letter-spacing: 0.2rem;
      text-shadow: 2px 2px 4px grey;
  }
  .burger {
    display: none;
  }
  .menu {
    position: sticky;
    max-width: 600px;
    height: 100%;
    flex-flow: row;
    flex-grow: 2;
    justify-content: space-between;
    background-color: transparent;
    clip-path: none;
    border: none;
    
  }
  .menu__link {
    font-size: 1.2rem;
  }
  .menu__link:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-beige);
    will-change: width;
    transition: all 0.4s ease-in-out;
  }
  .menu__link:hover {
    padding-left: 0;
  }
  .menu__link:hover:after {
    width: 100%;
  }
  .search{
    top: 11vh;
  }
  .card-user{
    top: 10vh;
  }   
  
  .card-user a p{
    font-size: 1.2rem;
  }
  .card-user a p:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-beige);
    will-change: width;
    transition: all 0.4s ease-in-out;
  }

  .card-user a p:hover:after{
    width: 100%;
  }
  
  

}
