.header {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-azulOscuro);
}
.logo__link {
  font-size: var(--title);
  color: var(--color-beige);
  font-family: var(--font-berkshire);
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 4px grey;
}
.btn {
  text-align: end;
  font-size: var(--icon);
  color: var(--color-beige);
  cursor: pointer;
  text-shadow: 2px 2px 4px grey;
}
.nav {
  position: absolute;
  top: 10vh;
  right: 0;
  background: var(--color-beige);
  height: 67vh;
  width: 95%;
  flex-direction: column;
  clip-path: inset(50% 0 50% 0);
  -webkit-clip-path: inset(50% 0 50% 0);
  transition: all 0.4s ease-out;
  z-index: 9000;
  overflow-x: hidden;
  border-right: 0.3rem solid var(--color-azulOscuro);
border-bottom: 0.3rem solid var(--color-azulOscuro);
border-left: 0.3rem solid var(--color-azulOscuro);

}

.nav.open {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
  pointer-events: all;
}
.menu {
  height: 58vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
 justify-content:space-evenly; 
}
.menu__items {
  height: 40px;
}
.menu__link {
  font-family: var(--font-berkshire);
  font-size: 1.7rem;
  color: var(--color-azulOscuro);
  letter-spacing: 0.5px;
  cursor: pointer;
  margin: 0;
  text-shadow: 2px 2px 4px grey;
  
}
.menu__link:hover {
  text-decoration: none;
  color: var(--color-violeta);
}
.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.login__btn {
  font-family: var(--font-berkshire);
  border: none;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  color: var(--color-azulOscuro);
  cursor: pointer;
  text-shadow: 2px 2px 4px grey;
  
}
.login__btn:hover {
  text-decoration: none;
  color: var(--color-violeta);
}

/* MENU DESKTOP */
.user__desk {
  display: none;
}

.nav__desk {
  display: none;
}

/*  Media Queries */

/* Desktop */

@media (min-width: 768px) {
  /* SE SACA EL MENU VERSION MOBILE Y TABLET */
  .btn {
    display: none;
  }
  .nav {
    display: none;
  }

  /* SE ORIENTA EL LOGO AL CENTRO */

  .header {
    padding: 10px 20px 8px;
    flex-direction: column;
    padding-bottom: 0;
    height: 10rem;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo__link {
    font-family: var(--font-berkshire);
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
    padding: 0.3rem;
    letter-spacing: 0.2rem;
    text-shadow: 3px 3px 6px grey;
  }

  /* LUPA, CARRITO Y MAGO DE USUARIO */
  .user__desk {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 5px;
    color: var(--color-beige);
  }

  .user__icon__desk {
    font-size: 1.2rem;
    color: var(--color-beige);
    padding-right: 1rem;
    margin-top: 0;
  }

  /* LUPA DE BUSQUEDA */
  .user__search__desk {
    background-color: var(--color-azulOscuro);
    border: none;
    color: var(--color-beige);
    width: 0;
    transition-property: width;
    transition-duration: 1s;
  }

  .user__search__desk:focus {
    font-size: 1rem;
    outline: none;
    border-bottom: 1px solid var(--color-beige);
    width: 9rem;
  }

  /* MAGO PARA REGISTRARSE */
  .wizard {
    display: flex;
    position: relative;
    align-items: flex-end;
  }

  .wizard__image {
    position: absolute;
    bottom: 18px;
    left: 30px;
  }

  .wizard__login {
    color: var(--color-beige);
  }

  /* MENU POR DEBAJO DEL HEADER */
  .nav__desk {
    color: var(--color-azulOscuro);
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100vw;
    background-color: var(--color-beige);
    box-shadow: var(--box-shadow-button);
  }

  .menu__desk {
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .menu__desk a {
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu__desk .menu__items__desk i{
    font-size: 7px;
    margin: 0 2px;
    text-shadow: 1px 1px 2px grey;
  }
}
