p{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 20px;
}

p.m-1{
    margin: 50px auto;
    width: 80%;
    font-size: 2rem;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

}

.nov-product {
    display: flex ;
    justify-content:space-evenly;
    margin: 60px 0;
}

.nov-book {
  margin: 0.5rem 2rem;
  display: flex;
  align-items: center;
}
.nov-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
    position: relative;
}
.nov-text{
    flex-basis: 40%;
}
.nov-text-d{
    display: none;
}
.nov-autor{
    align-self: flex-end;
    font-size: 0.8rem;
}
.nov-price {
    font-size: 1rem;
    color: var(--color-azulClaro);
}

.books__img{
    width: 10rem;
}

@media (min-width:500px){
    .nov-description {
        flex-basis: 60%;
    }
    .nov-price{
        position: absolute;
        left: 40%;
        top: 90%;
    }
    .nov-text{
        display: none;
    }
    .nov-text-d{
        display: block;
    }
}
@media (min-width: 768px){

}