p{
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
}

p.m-1{
    margin: 50px auto;
    width: 80%;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

}
/* LINEA HR */
.one-line-rigth {
    background: linear-gradient( 90deg,  var(--color-beige), var(--color-azulOscuro));
    height: 1px;
    margin-bottom: 2rem;
    width: 100%;
 }

.nov-product {
    display: flex ;
    justify-content:space-evenly;
    margin: 60px 0;
}

.nov-book {
  /* margin: 0.5rem 2rem; */
  display: flex;
  align-items: center;
}
.nov-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
    position: relative;
    
}
.nov-description a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nov-text{
    flex-basis: 40%;
    margin-bottom: 20px;
}
.nov-text-d{
    display: none;
}
.nov-autor{
    font-size: 1rem;
    margin-bottom: 5px;
}
.nov-price {
    font-size: 1rem;
    color: var(--color-violeta);
    font-weight: bold;
}

.books__img{
    width: 10rem;
}
.headline-search{
    
}

.nov-priceAuthor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 768px){
    .nov-priceAuthor{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

}