.product {
  width: 95%;
  margin: 5% auto;
}
.item {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 25px;
  margin-bottom: 25px;
}
.item__title {
  font-family: var(--font-berkshire);
  font-size: var(--title);
  color: var(--color-azulOscuro);
}
.item__img {
  width: 212px;
  border-radius: 5px;
}
.item__img img {
  height: 320px;
  max-width: 290px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
.descriptions {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-flow: column;
}
.descriptions--top {
  margin: 20px auto;
}
.descriptions__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: var(--paragraph);
  color: var(--color-azulOscuro);
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}
.description--gray {
  font-weight: 300;
}
.cart {
  border: 1px solid var(--color-azulOscuro);
  background-color: var(--color-azulOscuro);
  color: var(--color-beige);
  padding: 10px 25px;
  border-radius: 5px;
  font-size: var(--paragraph);
  display: block;
  margin: auto;
}
.icon-cart {
  padding-right: 10px;
  font-size: 1.1rem;
}
.cart:hover {
  background-color: var(--color-azulClaro);
}
.descriptions__title {
  font-size: var(--discounts-descriptions);
  color: var(--color-azulOscuro);
}
.descriptions__paragraph {
  font-size: var(--paragraph);
  color: var(--color-azulOscuro);
  text-align: center;
}
.item--secondary {
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
}
.item--secondary__title {
  display: block;
  width: 100%;
  text-align: center;
}
.books {
  width: 130px;
}
.books__img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.books__title {
  color: var(--color-azulOscuro);
  font-size: var(--paragraph);
  font-weight: 600;
  display: block;
  margin: 8px 0;
  text-align: center;
}
@media (min-width: 769px) {
  .product {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .product {
    width: 960px;
  }
  .item {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .item__title {
    width: 100%;
    text-align: center;
  }
  .item__img img {
    height: 320px;
  }
  .descriptions {
    width: 40%;
  }
  .descriptions--top {
    width: 80%;
  }
  .card__box {
    width: 100%;
  }
}
