/* MOBILE */

/* CARD USUARIO */
main{
    margin: 0 auto;
    width: 80%;
}
.user-image{
    width: 80%;
    margin: 0;
}
.user-image-item{
    width: 80%;
    margin-bottom: 10%;
    border-radius: 50%;
}
.user-card {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-data-name, .profile-data-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-data-name{
    font-family: var(--font-berkshire);
    font-size: 2rem;
    margin-bottom: 5%;
}

/* FORM */
.label{
    margin-top: 5%;
}
.profile-input{
    font-size: 1rem;
    color: var(--color-azulOscuro);
}

.container-user-data{
    width: 80%;
}


 @media (min-width: 768px) {



 }

 @media (min-width: 1024px) {



}
