/* CLASES DEL CARRITO */
.global{
    color: var(--color-azulOscuro);
    font-family: var(--font-roboto);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

/* TITULO DE PAGINA */

.title {
    font-size: var(--title);
    font-family: var(--font-berkshire);
    margin: 3vw 0;
}


/* SECCIÓN DE PRODUCTOS Y CANTIDAD */

/* TODOS LOS PRODUCTOS A COMPRAR */
.conteiner-item {
    display: flex;
    justify-content: space-between;
}

/* IMAGEN DEL PRODUCTO A COMPRAR Y TITULO */
.item-left{
    text-align: center;
    font-size:1rem;
}

.buy-image {
    border-radius: 3px;
    height: 10rem;
    margin-bottom: 2rem;
    box-shadow:var(--box-shadow-images);
}

/* ICONO DE BASURA y PRECIO */
.item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    height: 55%;
    width: 45%;
    font-size: 0.8rem;

}
.right{
   text-align: right;
   margin-bottom: 1rem;
   font-size: 1rem;
}

/* BOTON CANTIDAD DE UNIDADES */
.quantity-button {
    background-color: var(--color-violeta);
    border-radius: 7px;
    width: 2.3rem;
    height: 20px;
    box-shadow: var(--box-shadow-button);

}


/* SECCIÓN DETALLE DE COMPRA */
/* CONTENEDOR DE SECCIÓN */
.detail-buy {
    margin: 100px 0;
}
/* LINEA HR */
.one-line {
    background: linear-gradient(90deg, var(--color-azulOscuro), var(--color-beige));
    height: 2px;
    margin-bottom: 3rem;
    width: 100%;
 }


/* TÍTULO DE SECCIÓN */
.detail-title {
    font-family: var(--font-berkshire);
    font-size: 1.3rem;
    padding: 5px 0;
    width: 18rem;
}

/* SECCIÓN DETALLE DE COMPRA */
.conteiner-price{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    height: auto;
    max-width: 18rem;
    margin: 25px auto;
    padding: 5px;
}
.total {
    background: linear-gradient(to top, var(--color-beige),  rgba(255, 255, 255, 1) );
    justify-content: space-evenly;
    max-width: 230px;
}

.to-pay{
    display: block;
    background-color: var(--color-violeta);
    border: none;
    box-shadow:var(--box-shadow-button);
    color: var(--color-azulOscuro);
    height: 25px;
    margin: 25px auto;
    text-align: center;
    width: 180px;
}
/* TÍTULO RECOMENDADOS */

.recommended-title {
    font-family: var(--font-berkshire);
    font-size: 1.3rem;
    margin-top: 100px;
}

/* SECCIÓN RECOMENDADOS */
.recommended-conteiner {
    display: flex;
    justify-content: space-evenly;
    flex-flow:row wrap ;
}

.recommended-item {
    text-align: center;
    font-size: 1rem;
    margin: 20px;
    width: 35%;
   height: 230px;
}
.recommended-img {
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-images);
    border-radius: 3px;
    height: 10rem;
}

/* MEDIA QUERIES */

/* DESKTOP */
@media (min-width: 768px ) {

    /* CLASES DEL CARRITO */
.global{
    max-width: 100%;
    margin: 30px auto;
    width: 90%;
    max-width: 1000px;
}

/* TODOS LOS PRODUCTOS A COMPRAR */

.conteiner-item {
     width: 55%;
     max-width: 480px ;
 }
/* IMAGEN DEL PRODUCTO A COMPRAR Y TITULO */
.item-left{
   font-size: 1.2rem;
}

.buy-image {
    height: 12rem;
}

/* ICONO BASURA Y PRECIO */
.item-right {
    font-size: 1.2rem;
}

/* BOTON CANTIDAD DE UNIDADES */
.quantity-button {
    width: 2.7rem;
    height: 1.5rem;
    padding-left: 5px;
    font-size:1rem ;
}

/* DETALLE DE COMPRA */
.detail-buy {
    position: absolute;
    top: 200px;
    left: 60%;
    max-width: 400px;
    display: inline-block;
    margin-top: 0;
}

/* TÍTULO RECOMENDADOS */
.recommended-title {
    font-size: 1.5rem;
}

/* SECCIÓN RECOMENDADOS */
.recommended-conteiner {
    justify-content: space-between;
    flex-flow:row ;
}

}
