@import url('variables.css');
@import url('header.css');
@import url('home.css');
@import url('login.css');
@import url('productDetail.css');
@import url('shoppingCart.css');
@import url('footer.css');
@import url('404.css'); 
@import url('admin.css');
@import url('register.css');
@import url('novelties.css'); 
@import url('aboutUs.css');
@import url('books.css');

/* ESTILOS   GENERALES */
.d-inline {
    display: inline;
    margin: 5px;
}
.m-1 {
    margin: 1rem 
}
.text-center {
    text-align: center;
}
.bg-blue{
    background-color: var(--color-azulOscuro);
}
.fit-content{
    width: fit-content;
}
.cont-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-1rem {
    font-size: 1rem;
}
/* EFECTO DE LOS LIBROS */
.book-cover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
  
.book-cover:hover{
  -webkit-transform:scale(1);transform:scale(1.02);
  box-shadow: 1em 1em 4rem 0px var(--color-azulOscuro), -1em -1em 4rem 0px var(--color-violeta);
  cursor: pointer;
  
}

/* BOTON EFECTO */
.button {
    float:right;
    padding:8px 12px;
    margin:20px 0 20px 0;
    font-family: var(--font-roboto);
    border:2px solid var(--color-azulClaro);
    background: var(--color-azulClaro);
    color: var(--color-beige);
    cursor:pointer;transition:all .3s;
border-radius: 5px;
font-size: 15px;
   
}
.button:hover{
    transition: all 0.5s ease-in-out;
    background-color: var(--color-azulOscuro);
    cursor: pointer;
}